@{
ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Blue Ridge Relief</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Providing a platform for those impacted by Hurricane Helene in Western North Carolina, Northeast Tennessee, and Upstate South Carolina to seek and offer assistance.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore Current Needs</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Submit a Request</button>
            </div>
        </div>
    </div>
</div>
